p {
    font-size: medium;
    color: blueviolet;
    margin-top: auto;
}

div {
    margin-top: 200px;
    width: 400px;
    height: fit-content;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}